.mat-toolbar > div {
    display: flex;
    flex-direction: column;
}

.mat-toolbar.mat-primary {
    padding: 0 2rem;
}

.suits {
    display: flex;
    justify-content: space-between;
    line-height: 32px;
}