.mat-toolbar > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-toolbar img {
    height: 8em;
    left: -.2em;
    position: relative;
}

.mat-toolbar.mat-primary {
    padding: 0;
}