<mat-card class="overflow-visible">
    <mat-tab-group>
      <mat-tab style="overflow: visible;" *ngFor="let mainCategory of mainCategories" label="{{mainCategory.name}}">
            
            <!-- text filter begin -->
            <mat-form-field>
                <input matInput [(ngModel)]="mainCategory.nameFilter" (keyup)="filterWebsites(mainCategory.dataSource, $event.target.value, mainCategory.chipFilters)" placeholder="Filter by Name">
            </mat-form-field>
            <!-- text filter end -->
    
            <!-- filters begin -->
            <p class="filters">
                <mat-icon>filter_list</mat-icon><span class="cdk-visually-hidden"></span>&nbsp;&nbsp;&nbsp;Filter by Tags:
            </p>
            
            <mat-chip-list>
                <mat-chip *ngFor="let chipFilter of mainCategory.chipFilters" disabled><!-- disabled to allow checkbox events to function properly -->
                    <!--<mat-checkbox [(ngModel)]="chipFilter.value" (change)="onChange($event, mainCategory.chipFilters, mainCategory.dataSource)">{{chipFilter.key}}</mat-checkbox>-->
                    <mat-checkbox [(ngModel)]="chipFilter.value" (change)="filterWebsites(mainCategory.dataSource, mainCategory.nameFilter, mainCategory.chipFilters)">{{chipFilter.key}}</mat-checkbox>

                </mat-chip>
            </mat-chip-list>
            <!-- filters end -->

            <!-- table begin -->
            <table id="category_{{mainCategory.name}}" [hidden]="isLoading || (mainCategory.dataSource && !mainCategory.dataSource.filteredData.length)" mat-table [dataSource]="mainCategory.dataSource" matSort class="mat-elevation-z8" matSortActive="name" matSortDirection="asc" matSortDisableClear>
            
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Website</th>
                    <td mat-cell *matCellDef="let element">
                        <a mat-button color="primary" href="{{element.URL}}" target="_blank">
                            <mat-icon>open_in_new</mat-icon>
                            <span class="cdk-visually-hidden">open in external tab/window</span>&nbsp;&nbsp;&nbsp;{{element.name}}
                        </a>
                    </td>
                </ng-container>
                
                <!-- tags Column -->
                <ng-container matColumnDef="tags">
                    <th mat-header-cell *matHeaderCellDef>Tags</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <mat-chip *ngFor="let tag of element.tags">{{tag}}</mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>
            <!-- table end -->
        
            <!--  no results begin -->
            <p class="no-results" *ngIf="!loading && mainCategory.dataSource && mainCategory.dataSource.filteredData.length === 0"><mat-icon>warning</mat-icon>
                <span class="cdk-visually-hidden"></span>&nbsp;&nbsp;&nbsp;There are no websites that match all of the criteria specified.</p>
            <!-- no results end -->
            
        </mat-tab>
    </mat-tab-group>
</mat-card>