.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .mat-tab-nav-bar {
        position: sticky;
        top: 0;
        z-index: 3;

        .mat-tab-link {
            white-space: normal;
        }
    }
}

main {
    margin: 0 auto auto auto;
    width: calc(100vw - 2rem);
    padding: 1rem;
    /* make component injected by router full height (for sticky footer) */
    display: flex;
    flex-direction: column;
    >*:not(router-outlet) {
        flex: 1;
        display: block;
    }
}


